<h1>Lista de usuarios</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Email</th>
    <th>Administrador</th>
    <th></th>
    <th></th>
    
  </tr>

<% @identities.each do |identity| %>
  <tr>
    <td><%= identity.id %></td>
    <td><%= identity.name %></td>
    <td><%= identity.email %></td>
    <td><%= identity.administrator %></td>
    <td><%= link_to 'Editar', edit_identity_path(identity, :method => :put) %></td>
    <td><%= link_to 'Eliminar', identity, :confirm => '¿Estas seguro?', :method => :delete %></td>
    
  </tr>
<% end %>
</table>